.btn {
  border-width: 1px;
  background-color: transparent;
  font-weight: 400;
  padding: 8px 16px;
  border-color: #888888;
  color: #888888;
    border-radius: 2px;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .open > .btn.dropdown-toggle {
  background-color: transparent;
  color: #777777;
/*  border-color: #777777;*/
}
.btn.disabled, .btn.disabled:hover, .btn.disabled:focus, .btn.disabled.focus, .btn.disabled:active, .btn.disabled.active, .btn:disabled, .btn:disabled:hover, .btn:disabled:focus, .btn:disabled.focus, .btn:disabled:active, .btn:disabled.active, .btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled].focus, .btn[disabled]:active, .btn[disabled].active, fieldset[disabled] .btn, fieldset[disabled] .btn:hover, fieldset[disabled] .btn:focus, fieldset[disabled] .btn.focus, fieldset[disabled] .btn:active, fieldset[disabled] .btn.active {
  background-color: transparent;
/*  border-color: #888888;*/
}
.btn.btn-fill {
  color: #FFFFFF;
  background-color: #888888;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn.btn-fill:hover, .btn.btn-fill:focus, .btn.btn-fill:active, .btn.btn-fill.active, .open > .btn.btn-fill.dropdown-toggle {
  background-color: #777777;
  color: #FFFFFF;
}
.btn.btn-fill .caret {
  border-top-color: #FFFFFF;
}
.btn .caret {
  border-top-color: #888888;
}
.btn:hover, .btn:focus {
  opacity: 1;
  filter: alpha(opacity=100);
  outline: 0 !important;
}
.btn:active, .btn.active, .open > .btn.dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}
.btn.btn-icon {
  padding: 8px;
}

.btn-primary {
  border-color: #3472F7;
  color: #3472F7;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-color: transparent;
  color: #1D62F0;
  border-color: #1D62F0;
}
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary:disabled, .btn-primary:disabled:hover, .btn-primary:disabled:focus, .btn-primary:disabled.focus, .btn-primary:disabled:active, .btn-primary:disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  background-color: transparent;
  border-color: #3472F7;
}
.btn-primary.btn-fill {
  color: #FFFFFF;
  background-color: #3472F7;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-primary.btn-fill:hover, .btn-primary.btn-fill:focus, .btn-primary.btn-fill:active, .btn-primary.btn-fill.active, .open > .btn-primary.btn-fill.dropdown-toggle {
  background-color: #1D62F0;
  color: #FFFFFF;
}
.btn-primary.btn-fill .caret {
  border-top-color: #FFFFFF;
}
.btn-primary .caret {
  border-top-color: #3472F7;
}

.btn-success {
  border-color: #87CB16;
  color: #87CB16;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
  background-color: transparent;
  color: #049F0C;
  border-color: #049F0C;
}
.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success:disabled, .btn-success:disabled:hover, .btn-success:disabled:focus, .btn-success:disabled.focus, .btn-success:disabled:active, .btn-success:disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
  background-color: transparent;
  border-color: #87CB16;
}
.btn-success.btn-fill {
  color: #FFFFFF;
  background-color: #87CB16;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-success.btn-fill:hover, .btn-success.btn-fill:focus, .btn-success.btn-fill:active, .btn-success.btn-fill.active, .open > .btn-success.btn-fill.dropdown-toggle {
  background-color: #049F0C;
  color: #FFFFFF;
}
.btn-success.btn-fill .caret {
  border-top-color: #FFFFFF;
}
.btn-success .caret {
  border-top-color: #87CB16;
}

.btn-info {
  border-color: #1DC7EA;
  color: #1DC7EA;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
  background-color: transparent;
  color: #42d0ed;
  border-color: #42d0ed;
}
.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info:disabled, .btn-info:disabled:hover, .btn-info:disabled:focus, .btn-info:disabled.focus, .btn-info:disabled:active, .btn-info:disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
  background-color: transparent;
  border-color: #1DC7EA;
}
.btn-info.btn-fill {
  color: #FFFFFF;
  background-color: #1DC7EA;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-info.btn-fill:hover, .btn-info.btn-fill:focus, .btn-info.btn-fill:active, .btn-info.btn-fill.active, .open > .btn-info.btn-fill.dropdown-toggle {
  background-color: #42d0ed;
  color: #FFFFFF;
}
.btn-info.btn-fill .caret {
  border-top-color: #FFFFFF;
}
.btn-info .caret {
  border-top-color: #1DC7EA;
}

.btn-warning {
  border-color: #FF9500;
  color: #FF9500;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
  background-color: transparent;
  color: #ED8D00;
  border-color: #ED8D00;
}
.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning:disabled, .btn-warning:disabled:hover, .btn-warning:disabled:focus, .btn-warning:disabled.focus, .btn-warning:disabled:active, .btn-warning:disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
  background-color: transparent;
  border-color: #FF9500;
}
.btn-warning.btn-fill {
  color: #FFFFFF;
  background-color: #FF9500;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-warning.btn-fill:hover, .btn-warning.btn-fill:focus, .btn-warning.btn-fill:active, .btn-warning.btn-fill.active, .open > .btn-warning.btn-fill.dropdown-toggle {
  background-color: #ED8D00;
  color: #FFFFFF;
}
.btn-warning.btn-fill .caret {
  border-top-color: #FFFFFF;
}
.btn-warning .caret {
  border-top-color: #FF9500;
}

.btn-danger {
  border-color: #FF4A55;
  color: #FF4A55;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
  background-color: transparent;
  color: #EE2D20;
  border-color: #EE2D20;
}
.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger:disabled, .btn-danger:disabled:hover, .btn-danger:disabled:focus, .btn-danger:disabled.focus, .btn-danger:disabled:active, .btn-danger:disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
  background-color: transparent;
  border-color: #FF4A55;
}
.btn-danger.btn-fill {
  color: #FFFFFF;
  background-color: #FF4A55;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-danger.btn-fill:hover, .btn-danger.btn-fill:focus, .btn-danger.btn-fill:active, .btn-danger.btn-fill.active, .open > .btn-danger.btn-fill.dropdown-toggle {
  background-color: #EE2D20;
  color: #FFFFFF;
}
.btn-danger.btn-fill .caret {
  border-top-color: #FFFFFF;
}
.btn-danger .caret {
  border-top-color: #FF4A55;
}

.btn-neutral {
  border-color: #FFFFFF;
  color: #FFFFFF;
}
.btn-neutral:hover, .btn-neutral:focus, .btn-neutral:active, .btn-neutral.active, .open > .btn-neutral.dropdown-toggle {
  background-color: transparent;
  color: #FFFFFF;
  border-color: #FFFFFF;
}
.btn-neutral.disabled, .btn-neutral.disabled:hover, .btn-neutral.disabled:focus, .btn-neutral.disabled.focus, .btn-neutral.disabled:active, .btn-neutral.disabled.active, .btn-neutral:disabled, .btn-neutral:disabled:hover, .btn-neutral:disabled:focus, .btn-neutral:disabled.focus, .btn-neutral:disabled:active, .btn-neutral:disabled.active, .btn-neutral[disabled], .btn-neutral[disabled]:hover, .btn-neutral[disabled]:focus, .btn-neutral[disabled].focus, .btn-neutral[disabled]:active, .btn-neutral[disabled].active, fieldset[disabled] .btn-neutral, fieldset[disabled] .btn-neutral:hover, fieldset[disabled] .btn-neutral:focus, fieldset[disabled] .btn-neutral.focus, fieldset[disabled] .btn-neutral:active, fieldset[disabled] .btn-neutral.active {
  background-color: transparent;
  border-color: #FFFFFF;
}
.btn-neutral.btn-fill {
  color: #FFFFFF;
  background-color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-neutral.btn-fill:hover, .btn-neutral.btn-fill:focus, .btn-neutral.btn-fill:active, .btn-neutral.btn-fill.active, .open > .btn-neutral.btn-fill.dropdown-toggle {
  background-color: #FFFFFF;
  color: #FFFFFF;
}
.btn-neutral.btn-fill .caret {
  border-top-color: #FFFFFF;
}
.btn-neutral .caret {
  border-top-color: #FFFFFF;
}
.btn-neutral:active, .btn-neutral.active, .open > .btn-neutral.dropdown-toggle {
  background-color: #FFFFFF;
  color: #888888;
}
.btn-neutral.btn-fill, .btn-neutral.btn-fill:hover, .btn-neutral.btn-fill:focus {
  color: #888888;
}
.btn-neutral.btn-simple:active, .btn-neutral.btn-simple.active {
  background-color: transparent;
}

.btn:disabled, .btn[disabled], .btn.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  padding: 9px 18px;
}
.btn-round.btn-icon {
  padding: 9px;
}

.btn-simple {
  border: 0;
  font-size: 16px;
  padding: 8px 16px;
}
.btn-simple.btn-icon {
  padding: 8px;
}

.btn-lg {
  font-size: 18px;
  border-radius: 6px;
  padding: 14px 30px;
  font-weight: 400;
}
.btn-lg.btn-round {
  padding: 15px 30px;
}
.btn-lg.btn-simple {
  padding: 16px 30px;
}

.btn-sm {
  font-size: 12px;
  border-radius: 3px;
  padding: 5px 10px;
}
.btn-sm.btn-round {
  padding: 6px 10px;
}
.btn-sm.btn-simple {
  padding: 7px 10px;
}

.btn-xs {
  font-size: 12px;
  border-radius: 3px;
  padding: 1px 5px;
}
.btn-xs.btn-round {
  padding: 2px 5px;
}
.btn-xs.btn-simple {
  padding: 3px 5px;
}

.btn-wd {
  min-width: 140px;
}

.btn-group.select {
  width: 100%;
}

.btn-group.select .btn {
  text-align: left;
}

.btn-group.select .caret {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 8px;
}


.tgl {
  position: relative;
  outline: 0;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  margin: 0 0 5px 0;
    font-size: 22px;
    text-transform: uppercase;
}

.tgl-sm {
  position: relative;
  outline: 0;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  margin: 0 0 5px 0;
    font-size: 16px;
    text-transform: uppercase;
}
.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}
.tgl span {
  position: relative;
  display: block;
  height: 1.8em;
  line-height: 1.2em;
  overflow: hidden;
  font-weight: normal;
  text-align: center;
  border-radius: 2em;
  padding: 0.2em 1em;
  border: 1px solid #fafafa;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(255, 255, 255, 0.7);
  transition: color 0.3s ease, padding 0.3s ease-in-out, background 0.3s ease-in-out;
}
.tgl span:before {
  position: relative;
  display: block;
  line-height: 1.45em;
  padding: 0 0.2em;
  font-size: 1em;
}
.tgl span:after {
  position: absolute;
  display: block;
  content: '';
  border-radius: 2em;
  width: 1.3em;
  height: 1.3em;
  margin-left: -1.45em;
  top: 0.2em;
  background: #ffffff;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 0.97), background 0.3s ease-in-out;
}
.tgl input[type="checkbox"] {
  display: none !important;
}
.tgl input[type="checkbox"]:not(:checked) + span {
  background: #dedede;
  color: #ffffff;
  padding-left: 1.6em;
  padding-right: 0.4em;
}
.tgl input[type="checkbox"]:not(:checked) + span:before {
  content: attr(data-off);
  color: #ffffff;
}
.tgl input[type="checkbox"]:not(:checked) + span:after {
  background: #ffffff;
  left: 1.6em;
}
.tgl input[type="checkbox"]:checked + span {
  background: #3dae58;
  color: #ffffff;
  padding-left: 0.4em;
  padding-right: 1.6em;
}
.tgl input[type="checkbox"]:checked + span:before {
  content: attr(data-on);
}
.tgl input[type="checkbox"]:checked + span:after {
  background: #ffffff;
  left: 100%;
}
.tgl input[type="checkbox"]:disabled,
.tgl input[type="checkbox"]:disabled + span,
.tgl input[type="checkbox"]:read-only,
.tgl input[type="checkbox"]:read-only + span {
  cursor: not-allowed;
}
.tgl-gray input[type="checkbox"]:not(:checked) + span {
  background: #e3e3e3;
  color: #999999;
}
.tgl-gray input[type="checkbox"]:not(:checked) + span:before {
  color: #999999;
}
.tgl-gray input[type="checkbox"]:not(:checked) + span:after {
  background: #ffffff;
}
.tgl-inline {
  display: inline-block !important;
  vertical-align: top;
}
.tgl-inline.tgl {
  font-size: 16px;
}
.tgl-inline.tgl span {
  min-width: 50px;
}
.tgl-inline.tgl span:before {
  line-height: 1.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}
.tgl-inline-label {
  display: inline-block !important;
  vertical-align: top;
  line-height: 26px;
}


.tranche-button {
  background: #0081dc;
  background-image: -webkit-linear-gradient(top, #0081dc, #0075c8);
  background-image: -moz-linear-gradient(top, #0081dc, #0075c8);
  background-image: -ms-linear-gradient(top, #0081dc, #0075c8);
  background-image: -o-linear-gradient(top, #0081dc, #0075c8);
  background-image: linear-gradient(to bottom, #0081dc, #0075c8);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #ffffff;
  border: solid #216ea8 1px;
  text-decoration: none;
}

.tranche-button:hover {
  background: #0082de;
  text-decoration: none;
  color: #fff;
    border-color: #216ea8;
}

.tranche-button:focus {
  background: #0082de;
     border-color: #216ea8;
  text-decoration: none;
  color: #fff;
 outline: 1px auto -webkit-focus-ring-color
}


.download-btn {
    background: #0081dc;
    background-image: -webkit-linear-gradient(top, #0081dc, #0075c8);
    background-image: -moz-linear-gradient(top, #0081dc, #0075c8);
    background-image: -ms-linear-gradient(top, #0081dc, #0075c8);
    background-image: -o-linear-gradient(top, #0081dc, #0075c8);
    background-image: linear-gradient(to bottom, #0081dc, #0075c8);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
    font-weight: bold;
    color: #ffffff;
    font-size: 0.813em;
    padding: 10px 38px 9px 35px;
    border: solid #216ea8 1px;
    text-decoration: none;
}
.download-btn:hover {
    background: #0082de;
    color: #ffffff;
    text-decoration: none;
    border: solid #216ea8 1px;
    text-decoration: none;
}
.download-btn:active:hover {
    background: #0066B7;
    color: #ffffff;
    border: solid #216ea8 1px;
    text-decoration: none;
}
.download-btn:active {
    background: #0066B7;
    color: #ffffff;
    border: solid #216ea8 1px;
    text-decoration: none;
}
.download-btn:focus {
    background: #0066B7;
    color: #ffffff;
    border: solid #216ea8 1px;
    text-decoration: none;
}
.arrow-btn {
    background: #0081dc;
    background-image: -webkit-linear-gradient(top, #0081dc, #0075c8);
    background-image: -moz-linear-gradient(top, #0081dc, #0075c8);
    background-image: -ms-linear-gradient(top, #0081dc, #0075c8);
    background-image: -o-linear-gradient(top, #0081dc, #0075c8);
    background-image: linear-gradient(to bottom, #0081dc, #0075c8);
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    color: #ffffff;
    font-size: 1.563em;
    padding: 0px 15px;
    border: solid #216ea8 1px;
    text-decoration: none;
}
.arrow-btn:hover {
    background: #0082de;
    color: #ffffff;
    text-decoration: none;
    border: solid #216ea8 1px;
    text-decoration: none;
}
.arrow-btn:focus {
    background: #0066B7;
    color: #ffffff;
    text-decoration: none;
    border: solid #216ea8 1px;
    text-decoration: none;
}
.arrow-btn:active:hover {
    background: #0066B7;
    color: #ffffff;
    border: solid #216ea8 1px;
    text-decoration: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background: #fefefe;
    background-image: -webkit-linear-gradient(top, #fefefe, #f6f6f6);
    background-image: -moz-linear-gradient(top, #fefefe, #f6f6f6);
    background-image: -ms-linear-gradient(top, #fefefe, #f6f6f6);
    background-image: -o-linear-gradient(top, #fefefe, #f6f6f6);
    background-image: linear-gradient(to bottom, #fefefe, #f6f6f6);
    border-color: #ccc;
    color: #d1d1d1;
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1 !important;
}




.in-progress {
      text-shadow: none;
  background: -webkit-linear-gradient(-45deg, rgba(0, 129, 220, 0.6) 25%, transparent 25%, transparent 50%, rgba(0, 129, 220, 0.6) 50%, rgba(0, 129, 220, 0.6) 75%, transparent 75%, transparent), -webkit-linear-gradient(top, rgba(0, 130, 222, 0.72), rgba(0, 130, 222, 0.72));
  background: -moz-linear-gradient(-45deg, rgba(0, 129, 220, 0.6) 25%, transparent 25%, transparent 50%, rgba(0, 129, 220, 0.6) 50%, rgba(0, 129, 220, 0.6) 75%, transparent 75%, transparent), -moz-linear-gradient(top, rgba(0, 130, 222, 0.72), rgba(0, 130, 222, 0.72));
  background: -ms-linear-gradient(-45deg, rgba(0, 129, 220, 0.6) 25%, transparent 25%, transparent 50%, rgba(0, 129, 220, 0.6) 50%, rgba(0, 129, 220, 0.6) 75%, transparent 75%, transparent), -ms-linear-gradient(top, rgba(0, 130, 222, 0.72), rgba(0, 130, 222, 0.72));
  background: -o-linear-gradient(-45deg, rgba(0, 129, 220, 0.6) 25%, transparent 25%, transparent 50%, rgba(0, 129, 220, 0.6) 50%, rgba(0, 129, 220, 0.6) 75%, transparent 75%, transparent), -o-linear-gradient(top, rgba(0, 130, 222, 0.72), rgba(0, 130, 222, 0.72));
  background: linear-gradient(-45deg, rgba(0, 129, 220, 0.6) 25%, transparent 25%, transparent 50%, rgba(0, 129, 220, 0.6) 50%, rgba(0, 129, 220, 0.6) 75%, transparent 75%, transparent), linear-gradient(top, rgba(0, 130, 222, 0.72), rgba(0, 130, 222, 0.72));
  -pie-background: linear-gradient(-45deg, rgba(0, 129, 220, 0.6) 25%, transparent 25%, transparent 50%, rgba(0, 129, 220, 0.6) 50%, rgba(0, 129, 220, 0.6) 75%, transparent 75%, transparent), linear-gradient(top, rgba(0, 130, 222, 0.72), rgba(0, 130, 222, 0.72));
  background-repeat: repeat;
  -webkit-background-size: 40px 40px, 100% 100%;
  -moz-background-size: 40px 40px, 100% 100%;
  -ms-background-size: 40px 40px, 100% 100%;
  -o-background-size: 40px 40px, 100% 100%;
  background-size: 40px 40px, 100% 100%;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

@-webkit-keyframes progress-bar-stripes {
  from { background-position: 0 0; }
  to { background-position: 40px 0; }
}

@-moz-keyframes progress-bar-stripes {
  from { background-position: 0 0; }
  to { background-position: 40px 0; }
}

@keyframes progress-bar-stripes {
  from { background-position: 0 0; }
  to { background-position: 40px 0; }
}

.in-progress:hover {
    cursor: not-allowed;
          text-shadow: none;
  background: -webkit-linear-gradient(-45deg, rgba(0, 129, 220, 0.6) 25%, transparent 25%, transparent 50%, rgba(0, 129, 220, 0.6) 50%, rgba(0, 129, 220, 0.6) 75%, transparent 75%, transparent), -webkit-linear-gradient(top, rgba(0, 130, 222, 0.72), rgba(0, 130, 222, 0.72));
  background: -moz-linear-gradient(-45deg, rgba(0, 129, 220, 0.6) 25%, transparent 25%, transparent 50%, rgba(0, 129, 220, 0.6) 50%, rgba(0, 129, 220, 0.6) 75%, transparent 75%, transparent), -moz-linear-gradient(top, rgba(0, 130, 222, 0.72), rgba(0, 130, 222, 0.72));
  background: -ms-linear-gradient(-45deg, rgba(0, 129, 220, 0.6) 25%, transparent 25%, transparent 50%, rgba(0, 129, 220, 0.6) 50%, rgba(0, 129, 220, 0.6) 75%, transparent 75%, transparent), -ms-linear-gradient(top, rgba(0, 130, 222, 0.72), rgba(0, 130, 222, 0.72));
  background: -o-linear-gradient(-45deg, rgba(0, 129, 220, 0.6) 25%, transparent 25%, transparent 50%, rgba(0, 129, 220, 0.6) 50%, rgba(0, 129, 220, 0.6) 75%, transparent 75%, transparent), -o-linear-gradient(top, rgba(0, 130, 222, 0.72), rgba(0, 130, 222, 0.72));
  background: linear-gradient(-45deg, rgba(0, 129, 220, 0.6) 25%, transparent 25%, transparent 50%, rgba(0, 129, 220, 0.6) 50%, rgba(0, 129, 220, 0.6) 75%, transparent 75%, transparent), linear-gradient(top, rgba(0, 130, 222, 0.72), rgba(0, 130, 222, 0.72));
  -pie-background: linear-gradient(-45deg, rgba(0, 129, 220, 0.6) 25%, transparent 25%, transparent 50%, rgba(0, 129, 220, 0.6) 50%, rgba(0, 129, 220, 0.6) 75%, transparent 75%, transparent), linear-gradient(top, rgba(0, 130, 222, 0.72), rgba(0, 130, 222, 0.72));
  background-repeat: repeat;
  -webkit-background-size: 40px 40px, 100% 100%;
  -moz-background-size: 40px 40px, 100% 100%;
  -ms-background-size: 40px 40px, 100% 100%;
  -o-background-size: 40px 40px, 100% 100%;
  background-size: 40px 40px, 100% 100%;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}



.styled-select {
    background: #f6f6f6;
    background: -moz-linear-gradient(top, #f6f6f6 0%, #fefefe 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #fefefe));
    background: -webkit-linear-gradient(top, #f6f6f6 0%, #fefefe 100%);
    background: -o-linear-gradient(top, #f6f6f6 0%, #fefefe 100%);
    background: -ms-linear-gradient(top, #f6f6f6 0%, #fefefe 100%);
    background: linear-gradient(to bottom, #f6f6f6 0%, #fefefe 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#fefefe', GradientType=0);
    border: 1px solid #d3d3d3;
    color: #9b9b9b;
    box-sizing: border-box;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}
.styled-select,
.styled-select select {
    width: 75px;
    cursor: pointer;
}
select:focus {
    outline: none;
}
.styled-select select {
    height: 2.5em;
    color: #9b9b9b;
    padding: 5px 0px 5px 10px;
    background: transparent;
    border: none;
    font-size: 0.625em;
    /*hide default down arrow in webkit */
    -webkit-appearance: none;
}
@-moz-document url-prefix(){
  .styled-select select { width: 120%; }
}

.fa-sort-desc {
    position: absolute;
    top: 3px;
    right: 8px;
    font-size: 14px;
}
.styled-select:hover {
    background: #fff;
    color: #777777;
}
 select::-ms-expand { display: none; } /* hide default down arrow in IE10*/

/* hack to fall back in opera */
_:-o-prefocus, .selector {
  .styled-select { background: none; }
  }


.size-btn {
font-size: 1.125em;
    color: #9B9B9B;
    padding: 0px 5px;
        border-color: #d3d3d3;
}

.size-btn:active:focus{
color: #333;
    background-color: #f5f5f5;
    border-color: #8c8c8c;
}
